[Unit]
Description=Infrawatch Agent
After=network.target

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user/infrawatch-agent
ExecStart=/usr/bin/python3 /home/ec2-user/infrawatch-agent/main.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
