@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.not-found-container {
  @include flex-center;
  min-height: 500px;
  padding: $content-padding;
  
  .ant-result {
    .ant-result-title {
      color: var(--text-color);
    }
    
    .ant-result-subtitle {
      color: var(--text-color-secondary);
    }
  }
}